---
layout: page.hbs
title: "Обо мне - Алексей Бондаренко | skyfortress.com.ua"
---
<main class="document">
	<div class="heading-red">Кратко о себе</div>
	<p class="about">
	<div class="education">
		<div class="path"></div>
		<div class="icon"></div>
		С 2012 года учусь в Киевском национальном университете строительства и архитектуры<br><br>
		Специальность: “Информационные технологии проектирования”
	</div>
	<div class="separator"></div>

    <div class="ajax-loader">
    <!-- circle -->
    <div class="ajax-loader-circle">
      <svg class="ajax-loader-circle-spinner"
           viewBox="0 0 500 500"
           xml:space="preserve">
        <circle
                cx="240" cy="240" r="240" />
      </svg>
    </div>
    <!-- Letters -->
    <div class="ajax-loader-letters">
      CSS
    </div>
</div>
    <div class="ajax-loader">
    <!-- circle -->
    <div class="ajax-loader-circle">
      <svg class="ajax-loader-circle-spinner"
           viewBox="0 0 500 500"
           xml:space="preserve">
        <circle
                cx="240" cy="240" r="240" />
      </svg>
    </div>
    <!-- Letters -->
    <div class="ajax-loader-letters">
      HTML
    </div>
</div>
    <div class="ajax-loader" id="js">
    <!-- circle -->
    <div class="ajax-loader-circle">
      <svg class="ajax-loader-circle-spinner"
           viewBox="0 0 500 500"
           xml:space="preserve">
        <circle
                cx="240" cy="240" r="240" />
      </svg>
    </div>
    <!-- Letters -->
    <div class="ajax-loader-letters">
      JS/JQ
    </div>
</div>
    <div class="ajax-loader" id="php">
    <!-- circle -->
    <div class="ajax-loader-circle">
      <svg class="ajax-loader-circle-spinner"
           viewBox="0 0 500 500"
           xml:space="preserve">
        <circle
                cx="240" cy="240" r="240" />
      </svg>
    </div>
    <!-- Letters -->
    <div class="ajax-loader-letters">
PHP
    </div>
</div>
    <div class="ajax-loader">
    <!-- circle -->
    <div class="ajax-loader-circle">
      <svg class="ajax-loader-circle-spinner"
           viewBox="0 0 500 500"
           xml:space="preserve">
        <circle
                cx="240" cy="240" r="240" />
      </svg>
    </div>
    <!-- Letters -->
    <div class="ajax-loader-letters">
PS
    </div>
</div>



	<div style="clear: both;"></div>
	<div class="path"></div>
	<section>
		<div class="line1">Front-end</div>
		<div class="line2">Design</div>
		<div class="line3">Back-end</div>

		<div class="pie-wrapper">
			<div class="pie-second-wrapper">
				<div class="pieID pie">
				</div>
			</div>
		</div>

		<ul class="pieID legend">
			<li>
				<em>Backend</em>
				<span>45</span>
			</li>
			<li>
				<em>Design</em>
				<span>15</span>
			</li>
			<li>
				<em>Frontend</em>
				<span>35</span>
			</li>
		</ul>
	</section>
    <div class="heading-blue">Используемые технологии</div>
    <div class="separator"></div>
    <div class="technologies">
        <span class="devicons devicons-html5"></span>
        <span class="devicons devicons-css3_full"></span>
        <span class="devicons devicons-php"></span>
        <span class="devicons devicons-yii"></span>
        <span class="devicons devicons-mysql"></span>
        <span class="devicons devicons-javascript"></span>
        <span class="devicons devicons-git"></span>
        <span class="devicons devicons-sass"></span>
        <span class="devicons devicons-compass"></span>
        <span class="devicons devicons-nginx"></span>
        <span class="devicons devicons-jquery"></span>
        <span class="devicons devicons-bower"></span>
        <span class="devicons devicons-composer"></span>
        <span class="devicons devicons-linux"></span>
        <span class="devicons devicons-mongodb"></span>
    </div>
	<div class="heading-red">Что я могу?</div>
	<div class="separator"></div>
	<ol>
		<li>Имею неплохие знания в области serverside разработки. Работал с многими CMS, но в последнее время постигаю PHP фреймворки, а именно Yii 2.0. Пределяю должное внимание скорости работы, оптимизации сайта, правильности  архитектуры, чистоте кода</li>
		<li>Работаю с реляционными базами данных. Написание, оптимизация сложных SQL запросов. Опыт работы с большими БД (tecdoc) </li>
		<li>Глубокое понимание и огромный опыт разаработки с использованием движка для интернет-магазинов Opencart</li>
		<li>HTML 5/CSS 3 верстка сайтов с использованием препроцессора SCSS + Compass. Кросс браузерная, адаптивная верстка. Занимаюсь созданием штук любой сложности на JQuery</li>
		<li>Знание Photoshop на уровне использования многих hot-keys. Неплохое чуcтво стиля</li>
		<li>Администрирование, настройка, оптимизация работы виртуальных выделеных серверов</li>
	</ol>
	<div class="heading-blue">Что уже сделано?</div>
	<div class="separator"></div>
	<ul class="achievements">
		<li><span>21 000</span> строк кода написано</li>
		<li><span>35</span> страниц сверстано</li>
		<li><span>5</span> проектов запущено</li>
		<li><span>300</span> чашек чая выпито</li>
		<li><span>1 100</span> танковых боев сыграно</li>
	</ul>   
	<div class="separator"></div>
	<div class="stamp"></div>
</main>
<style>
	.jCProgress {
        display: block;
        float: left;
		margin: 20px 7px;
		position: relative;
		z-index: 9999999;
		float: left;
		/*  margin-top:-15px; /* offset from the center */
	}

	.jCProgress .skill-text {
		font-family: "Istok Web";
		color: #666;
		text-transform: uppercase;
		font-size: 24px;

		position:absolute;
		margin-top:43px;
		margin-left:22px;
		text-align: center;
		width:60px;
	}
@keyframes bake-pie {
  from {
	transform: rotate(0deg) translate3d(0,0,0);
  }
}

.pieID {
  vertical-align: top;
}
.pie-wrapper{
	height: 300px;
	width: 300px;
	border: 1px solid #989898;
	border-radius: 50%;
	margin: 50px auto 100px;
}
.pie-second-wrapper{
	height: 288px;
	width: 288px;
	border: 2px solid #989898;
	border-radius: 50%;
	margin: 4px auto;
}
.pie {
  height: 284px;
  width: 284px;
  position: relative;
  margin: 2px auto;
}
.pie::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 165px;
  height: 165px;
  background: url("/assets/images/content-bg-solid.png");
  border-radius: 50%;
  top: 60px;
  left: 60px;
}
.slice {
  position: absolute;
  width: 284px;
  height: 284px;
  clip: rect(0px, 284px, 284px, 142px);
  animation: bake-pie 1s;
}
.slice span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 284px;
  height: 284px;
  border-radius: 50%;
  clip: rect(0px, 284px, 284px, 142px);
}
.legend {
	display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #FFF;
  padding: 15px;
  font-size: 13px;
  box-shadow: 1px 1px 0 #DDD,
			  2px 2px 0 #BBB;
}
.legend li {
  width: 110px;
  height: 1.25em;
  margin-bottom: 0.7em;
  padding-left: 0.5em;
  border-left: 1.25em solid black;
}
.legend em {
  font-style: normal;
}
.legend span {
  float: right;
}
</style>