---
layout: page.hbs
title: "Контакты | skyfortress.com.ua"
---
<main class="document">
    <div class="heading-blue">Контакты</div>
    <p>
        Если Вы хотите связаться со мной или есть какие-то вопросы,  можете воспользоваться указанными контактами или формой ниже. Через социальные сети проще всего меня найти ВКонтакте, там я гарантированно увижу и отвечу на Ваше сообщение.
    </p>
    <div class="separator"></div>
    <div class="information">
        <div class="name">E-mail</div>
        <span>i@skyfortress.com.ua</span>
        <div class="name">Телефон</div>
        <span>+380989771179</span>
        <div class="name">Skype</div>
        <span>oleksys94</span>
        <div class="name">Мои страницы</div>
        <span><a href="https://github.com/skyfortress">Github</a></span>
    </div>
    {{> contactForm}}
    <div class="separator"></div>
</main>