<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alexey Bondarenko - Senior Fullstack Engineer</title>
    <meta name="description" content="">
    <meta name="title" content="">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body>
<header class="header large">
    <div class="clouds-bg large">
        <div class="clouds"></div>
        <div class="clouds2"></div>
        <div class="slogan">Oleksii Bondarenko</div>
        <div class="line"></div>
        <div class="second-slogan" id="second-slogan">Sr. Fullstack software engineer</div>
        <div class="line"></div>
        <div class="buttons">
            <div class="perspective">
                <a href="/assets/Oleksii_Bondarenko_Technical_lead_Senior FullStack_Developer.pdf">CV</a>
                {{!-- <a href="/blog">BLOG</a> --}}
            </div>
        </div>
        <div class="contact">
            <a href="https://www.instagram.com/sky4tress/" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="https://t.me/Skyfortress" target="_blank"><i class="fa fa-telegram"></i></a>
            <a href="https://www.linkedin.com/in/alexey-bondarenko-332a68159/" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/skyfortress" target="_blank"><i class="fa fa-github"></i></a>
        </div>
        <div class="badge">
            <a href="https://www.credly.com/badges/3e99d2a5-e936-4ba2-bceb-c4164646e94d/public_url">
                <img src="https://images.credly.com/images/0e284c3f-5164-4b21-8660-0d84737941bc/image.png">
            </a>
        </div>
    </div>
</header>
</body>
</html>