---
pagination:
  data: portfolio
  size: 10
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" >
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title>Главная</title>
    <meta name="description" content="">
    <meta name="title" content="">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body>
<header class="header large">
    <div class="clouds-bg large">
        <div class="clouds"></div>
        <div class="clouds2"></div>

        <div class="wrapper">
            <div class="slogan" id="slogan">Alexey Bondarenko</div>
            <div class="line"></div>
            <div class="second-slogan" id="second-slogan">Fullstack software engineer</div>
            <div class="line"></div>
            <div class="buttons">
                <div class="perspective">
                    <a href="/portfolio">CV</a>
                    <a href="/blog">BLOG</a>
                </div>
            </div>
            <div class="contact">
                <a href="https://www.instagram.com/sky4tress/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://t.me/Skyfortress" target="_blank"><i class="fa fa-telegram"></i></a>
                <a href="https://www.linkedin.com/in/alexey-bondarenko-332a68159/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/skyfortress" target="_blank"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </div>
</header>
</body>
</html>