---
layout: page.hbs
---
<main class="articles">
    <article>
        <div class="heading">
            {{> date page.date}}
            <a class="title" href="/blog">
                {{ title }}
            </a>
        </div>
        <div class="desc">
            {{{ content }}}
        </div>
        <div class="info"></div>
    </article>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_identifier = '{{page.url}}';
        var disqus_shortname = 'sky4tress'; // required: replace example with your forum shortname

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <div style="height: 150px"></div>
</main>