<div class="block-name">Категории</div>
<ul class="categories">
    <li class="active">
        <a href="#">Другое</a>
        <span>(6)</span>
    </li>
    <li>
        <a href="#">Web design</a>
        <span>(0)</span>
    </li>
    <li>
        <a href="#">Server-side</a>
        <span>(0)</span>
    </li>
     <li>
        <a href="#">Front-end</a>
        <span>(0)</span>
    </li>
    <li>
        <a href="#">Javascript</a>
        <span>(0)</span>
    </li>
    <li>
        <a href="#">Заметки</a>
        <span>(0)</span>
    </li>
    <li>
        <a href="#">Железо</a>
        <span>(0)</span>
    </li>
</ul>