<div class="contact-form">
    <form class="flexiContactForm" role="form">
        <div class="form-groups">
            <div class="form-group">
                <label class="control-label" for="contactform-name">Ваше имя</label>
                <input id="contactform-name" type="text" class="form-control" value=""  name="name">
            </div>
            <div class="form-group">
                <label class="control-label" for="contactform-sender">Ваш e-mail</label>
                <input id="contactform-sender" type="text" class="form-control" value="" name="email">
            </div>
            <div class="form-group">
                <label class="control-label" for="contactform-subject">Тема сообщения</label>
                <input id="contactform-subject" type="text" class="form-control" value="" name="subject">
            </div>
            <div class="form-group">
                <label class="control-label" for="contactform-body">Сообщение</label>
                <textarea id="contactform-body" class="form-control" value="" name="body" cols="30" rows="10"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" name="contact-button">Отправить</button>
            </div>
        </div>
    </form>
</div>