<footer class="footer">
    <div class="wrapper">
        <div class="copyrights">
            <div>©</div>
            <a>skyfortress.com.ua</a><br>
            2013 - 2022    Все права защищены.<br>
            Алексей Бондаренко
        </div>
        <div class="phones">
            <div>+380989771179</div>
            <div>oleksys94</div>
            <a href="mailto:i@skyfortress.com.ua">i@skyfortress.com.ua</a>
        </div>
        <div class="seo-text">
            Это персональный сайт, который разработан для демонстрации<br>
            всех моих навыков и знаний в области web-разработки.<br>
            Разрешается и поощряется перепечатывание и распространение материалов этого блога с указанием ссылки автора.<br>
        </div>
    </div>
</footer>