<div class="line"></div>
<div class="heading-red">Последние посты</div>
<article>
    <a href="{{ post.url }}">
        <img src="https://placehold.co/375x210" style="max-width: 100%" height="210" />
    </a>
    <div class="title">
        <a href="#">
           Впечатления после прочтения книги "Марсианин" - Вейер Энди
        </a>
    </div>
    <div class="text">Вот уже осенью выйдет экранизация книги  "Марсианин" от Ридли Скотта и я как любитель научной фантастики, особенно про космос, решил прочитать сначала книгу. Ведь книга всегда лучше. :)</div>
    <div class="info">
        <div class="date">26-09-2022</div>
        <div class="tag">
            <a href="/blog">Другое</a>
        </div>
        <a href="/blog/review-the-martian-book/" class="black-button">Подробнее</a>
    </div>
</article>
<article>
    <a href="{{ post.url }}">
        <img src="https://placehold.co/375x210" style="max-width: 100%" height="210" />
    </a>
    <div class="title">
        <a href="#">
            Adventure game "Untrusted"
        </a>
    </div>
    <div class="text">Не так давно прошел приключенческую игру "Untrusted". Для прохождения пришлось кодить на скрипте, местами было даже довольно сложно, однако игрушка однозначно крутая. Позволяет проверить свои навыки.</div>
    <div class="info">
        <div class="date">26-09-2022</div>
        <div class="tag">
            <a href="/blog">Другое</a>
        </div>
        <a href="/blog/untrusted-game" class="black-button">Подробнее</a>
    </div>
</article>

