<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title>{{ title }}</title>
    <meta name="description" content="">
    <meta name="title" content="">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/agate.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</head>
<body>
<header class="header">
    <div class="header-top">
        <div class="wrapper">
            <a href="/" class="logo">
                Alexey Bondarenko
            </a>
        </div>
    </div>
    <div class="clouds-bg">
        <div class="clouds"></div>
        <div class="clouds2"></div>
    </div>
</header>
<!-- .header-->
<!-- .content -->
<div class="content page">
    <div class="content-top"></div>
    {{{ content }}}
    <div class="content-bottom">
        <div class="stamp"></div>
    </div>
</div><!-- .content end -->
<!-- .footer -->
<footer class="footer"></footer>
<!-- .footer end -->
</body>
</html>