<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" >
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title>{{ title }}</title>
    <meta name="description" content="">
    <meta name="title" content="">
    <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body>
<header class="header">
    {{> topMenu}}
    <div class="clouds-bg">
        <div class="clouds"></div>
        <div class="clouds2"></div>
    </div>
</header>
<!-- .header-->
<!-- .content -->
<div class="content page">
    <div class="content-top"></div>
    {{{ content }}}
    <div class="content-bottom"></div>
</div><!-- .content end -->
<!-- .footer -->
{{> footer}}
<!-- .footer end -->
</body>
</html>