<div class="block-name">Популярное</div>

<div class="popular">
    <div class="item">
        <a href="#">
            <img src="https://placehold.co/85x85" height="85" /> 
        </a>
        <a class="title" href="#">Пост из блога</a>
    </div>
    <div class="views">0 просмотров</div>
     <div class="item">
        <a href="#">
            <img src="https://placehold.co/85x85" height="85" /> 
        </a>
        <a class="title" href="#">Пост из блога</a>
    </div>
    <div class="views">0 просмотров</div>
     <div class="item">
        <a href="#">
            <img src="https://placehold.co/85x85" height="85" /> 
        </a>
        <a class="title" href="#">Пост из блога</a>
    </div>
    <div class="views">0 просмотров</div>
</div>
