@import "compass/css3";
@import 'typography';
@import 'variables';
$loader_duration: 2s;
$loader_offset: 1570; // (2 x pie x r = 250 (from svg))
.ajax-loader{
	@include transition(750ms ease-out);	
	position: relative;
	top: 30px;
	left: 60px;
	float: left;
	width: 100px;
	height: 100px;
	z-index: 50;
	margin: 0 10px;
	// Circle
	.ajax-loader-circle{
		@extend %absoluteFullSize;
		@include transform-origin(50%, 50%);
		@include rotate(-90deg);

		.ajax-loader-circle-spinner{
			overflow: visible;
      		padding: 4px;
			@extend %absoluteFullSize;
			@include transform-origin(50%, 50%);
		}

		circle{
			@extend %absoluteFullSize;
			@include animation(
				ajaxLoaderColors ($loader_duration*4) ease-in-out infinite,
        		idle ($loader_duration) ease-in-out infinite, 
				ajaxLoaderDash $loader_duration ease-out    
			);

			stroke-dasharray: $loader_offset*1.2;
         	stroke-dashoffset: $loader_offset*0.25;
			stroke: #fff;
		   	stroke-width: 35; 
		   	fill: none;
		}
	}

	// Letters
	.ajax-loader-letters{
		@include box-sizing("border-box");
		width: 100%;
		height: 100%;
		text-align: center;
		position: absolute;
		font-family: Roboto, "Helvetica Neue",Helvetica,Arial,sans-serif;
		@include text-shadow(-1px -1px #fff);
		color: #848484;
		top: 0;
		left: 2px;
		font-size: 20px;
		padding: 37px 2px;
		path{
			fill: #fff;
		}
	}
}

@include keyframes(ajaxLoaderColors){
	0% { stroke: $green; }
	50% { stroke: #bcdc45; }
	100% { stroke: $green; }
}
@include keyframes(ajaxLoaderDash){
	0% { 
		stroke-dashoffset: $loader_offset*.9; 
	}
	50% {
		stroke-dashoffset: $loader_offset*.25;
	}
	100% {
		stroke-dashoffset: $loader_offset*.3;
	}
};
@include keyframes(idle){
	0% { 
    stroke-dashoffset: $loader_offset*.3;
	}
	50% {
		stroke-dashoffset: $loader_offset*.26;
	}
	100% {
		stroke-dashoffset: $loader_offset*.3;
	}
};

@mixin absoluteFullSize{
	@include transition(750ms ease-out);	
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
}
%absoluteFullSize{ @include absoluteFullSize; }

#js .ajax-loader-circle{
	circle{
		stroke-dasharray: $loader_offset*1.12;
	}
}
#php .ajax-loader-circle{
	circle{
		stroke-dasharray: $loader_offset*1.13;
	}
}