@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "ceaser-easing";

@import 'variables';
@import 'typography';


* {
	margin: 0;
	padding: 0;
}
p{
	padding: 5px 0;
}
::selection {
	background: rgba(254,142,87,0.7);
}
::-moz-selection {
	background: rgba(254,142,87,0.7);
}

html {
	height: 100%;
}
a{
	color: $red;
	cursor: pointer;
	text-decoration: none;
}
img{
	vertical-align: middle;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px 'Verdana', sans-serif;
	width: 100%;
	height: 100%;
	background: image-url("bg.jpg");
}
.wrapper {
	position: relative;
	width: 980px;
	margin: 0 auto;
}
main{
	position: relative;
}
/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 375px;
	.clouds-bg{
		position: relative;
		overflow: hidden;
		height: 305px;
		background: #2c4877;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjNDg3NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2OWFlYmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #2c4877 0%, #69aebf 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c4877), color-stop(100%,#69aebf));
		background: -webkit-linear-gradient(top,  #2c4877 0%,#69aebf 100%);
		background: -o-linear-gradient(top,  #2c4877 0%,#69aebf 100%);
		background: -ms-linear-gradient(top,  #2c4877 0%,#69aebf 100%);
		background: linear-gradient(to bottom,  #2c4877 0%,#69aebf 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c4877', endColorstr='#69aebf',GradientType=0 );
		.fortress{
				width: 794px;
				height: 644px;
				background: image-url("fortress.png") no-repeat;
				position: absolute;
				top: 56px;
				right: -165px;
		}
		.slogan{
				display: block;
				padding-top: 50px;
				text-align: center;
				color: #fff;
				font-family: 'IstokWeb-Italic',sans-serif;
				font-size: 48px;
				font-weight: 400;
				@include text-shadow(0 2px 2px rgba(0,0,0,.5));		
		}
		.line{
			position: absolute;
			top: 56px;
			width: 400px;
			height: 11px;
			background: image-url("seam-line.png");
		}
		.line:last-child{
			right: 0;
		}
		.buttons{
			z-index: 2;
			position: relative;
			margin-top: 40px;
			width: 430px;
			//@include animation(slide-top 0.8s 1.5s ceaser($easeOutBack) backwards);
			text-align: center;
			.perspective{
				@include box-sizing(border-box);
				@include perspective(800px);
				position: relative;
				margin: 0;
				padding: 1em;
			
				display: inline-block;
			}
			a{
				@include box-sizing(border-box);
				outline: 1px solid transparent;
				cursor: pointer;
				margin: 0 2px;
				position: relative;
				float: left;
				font-size: 16px;
				display: block;
				letter-spacing: 0.5px;
				font-family: "gothic";
				-webkit-font-smoothing: antialiased;
				color: #fff;
				padding: 15px 40px;
				background: $red;
				border-bottom: 1px solid adjust-lightness($red, 10%);
				@include transform-style(preserve-3d);
				@include transform(rotateX(19deg));
				@include transition(all 0.3s ease);
				&:last-child{
					background: $green2;
					border-bottom: 1px solid adjust-lightness($green2, 5%);
					&:after{
						background: shade($green2, 50%);
					}
					&:active{
						background: adjust-lightness($green2, 3%);
					}
				}
				&:after{
					content: "";
					display: block;
					position: absolute;
					width: 100%;
					height: 40%;
					left: 0;
					top: 100%;
					background: shade($red, 50%);
					@include transform-origin(0%, 0%);
					@include transform(rotateX(-90deg));
				}
				&:hover{
					@include transform(rotateX(0deg));
				}
				&:active{
					background: adjust-lightness($red, 3%);
					@include transform(rotateX(0deg));
					@include transform(scale(0.95));
				}
			}

		}
		.clouds{
			position: absolute;
			bottom: 0px;
			width: 100%;
			height: 305px;
			background: image-url("clouds.png") 50% 0 repeat-x;	
		}
		.clouds2{
			width: 110%;
			left: -5%;
			height: 305px;
			background: image-url("clouds2.png") 50% 0 repeat-x;
			bottom: 0;
			position: absolute;
		}
	}
}
#flying{
	position: relative;
	z-index: 1;
}
.header.large{
		height: 700px;
		.clouds-bg{
			height: 700px;
			@include perspective(1px);
			overflow: hidden;
			.slogan{
				visibility: hidden;
				line-height: 70px;
				padding-left: 18px;
				padding-top: 220px;
				text-align: left;
				color: #fff;
				font-family: 'IstokWeb-Italic',sans-serif;
				font-size: 60px;
				font-weight: 400;
				@include text-shadow(0 2px 2px rgba(0,0,0,.5));		
			}
			.second-slogan{
				padding: 5px 0 10px;
				line-height: 22px;
				@extend .slogan;
				font-style: normal;
				font-family: 'gothic',sans-serif;	
				font-size: 22px;
			}
			.line{
				position: relative;
				top: 0;
				width: 430px;
				height: 11px;
				background: image-url("seam-line.png");
			}
		}
}
.header-top{
	width: 100%;
	height: 70px;
	position: absolute;
	top: 0;
	z-index: 10;
	background: image-url("bg.jpg");
	box-shadow: 1px 2px 18px rgba(0,0,0,0.2);
}	
.header-top .wrapper{
	position: relative;
	height: 100%;
	.logo{
		position: absolute;
		bottom: 0;
		float: left;
		width: 237px;
		height: 50px;
		background: image-url("sprite.png") -494px -55px;
	}
	.search{
		position: relative;
		margin-left: 5px;	
		margin-top: 20px;
		float: right;
		input[type="text"]{
			width: 170px;
			height: 27px;
			display: block;
			box-sizing: border-box;
			padding: 0 25px 0 10px;
			border: 0;
			border-radius: 5px;
		}
		&:after{
				content: " "; 
				right: 0;
				top: 0; 
				position: absolute;      				  
				background: image-url("sprite.png") -298px -5px;  
				display: block;  
				height: 25px;  
				width: 25px; 
		}
	}
	.social{
		padding-top: 19px;
		float: right;
		a{
			display: block;
			float: left;
			margin: 0 2px; 
			width: 28px;
			height: 28px;
			background: image-url("sprite.png");
			@include opacity(0.8);
			@include transition(all 0.3s ease);
			&:hover{
				@include opacity(1);
				transform: rotate(360deg);
			}
		}
		.vk{
			background-position: -317px -135px;
		}
		.fb{
			background-position: -349px -136px;
		}	
		.tw{
			background-position: -380px -136px;
		}		
	}
	
}
.animated{
	@include transition(all 0.3s ease);
	@include perspective(1000);
}
.slideUp{
	@include transform(translateY(-100%));
}
/* Middle
-----------------------------------------------------------------------------*/
.content {
	position: relative;
	padding: 0 70px 75px;
	width: 980px;
	@include box-sizing(border-box);
	margin: -55px auto -140px;
	background: image-url("content-bg-solid.png");
	@include box-shadow(0 5px 18px rgba(0,0,0,.20));
	.content-top{
		position: absolute;
		left: 0;
		top: -7px;
		width: 100%;
		height: 85px;
		background: image-url("content-parts.png") 0 0;
	}
	.content-bottom{
		@extend .content-top;
		background-position: 0 -85px;
		top: auto;
		z-index: 1;
		bottom: -7px;
	}
	.line{
		width: 100%;
		position: absolute;
		top: 28px;
		height: 5px;
		background: image-url("sprite.png") 0 -172px;
	}	
}
.page{
	padding: 0;
	min-height: 1000px;
	margin: -180px auto -150px;
}
.benefits{
	position: relative;
	@include legacy-pie-clearfix;
	& > div{
		margin-top: 50px;
		float: left;
		width: (100%/3);
		color: #777676;
		font-family: "gothic";
		@include box-sizing(border-box);
		padding: 0 20px;
		font-size: 14px;
		line-height: 22px;
		.icon{
			margin: 0 auto;
			width: 60px;
			height: 60px;
			background: image-url("sprite.png") -2px 0px;
		}
		span{
			display: block;
			color: #434343;
			padding: 10px 0 30px;
			font-size: 20px;
			text-align: center;
		}
	}
	.customize .icon{
		background-position: -71px 0;
	}
	.technology .icon{
		background-position: -139px 0;
	}
}
.portfolio-block{
	margin-top: 80px;
	position: relative;
	@include legacy-pie-clearfix;
	.item{
		position: relative;
		margin-top: 20px;
		margin-bottom: 60px;
		width: (100%/3);
		float: left;
		text-align: center;
		& > a{
			display: block;
			background: #fff;
			padding: 4px;
			@include border-radius(3px);
			width: 250px;
			margin: 0 auto;
			@include box-shadow(0 0 5px 1px rgba(0,0,0,0.15));
		}
		img{
			width: 250px;
			height: 135px;
		}
		&:nth-child(2),
		&:nth-child(5){
			top: 20px;
		}
	}

}
.heading-blue{
	@include box-sizing(border-box);
	padding-top: 11px;
	text-align: center;
	color: #fff;
	font-family: "gothic";
	font-size: 16px;
	margin: 0 auto;
	width: 310px;
	height: 52px;
	background: image-url("sprite.png") 0 -66px;
}
.heading-red{
	@extend .heading-blue;
	background-position: 0 -119px;
}
.articles{
		position: relative;
		margin-right: 286px;
		article{
			margin-bottom: 30px;
			.heading{
				display: table;
				padding: 10px 0 20px;
				height: 60px;
				color: #474747;
				font-family: "gothic";
				font-size: 24px;
				line-height: 26px;
				a{
					color: #5e5b5a;
					display: table-cell;
					text-decoration: none;
					vertical-align: middle;
					@include text-shadow(0 2px 2px rgba(247,247,247,1));
				}
			}
			.date{
				padding: 0 4px;
				height: 100%;
				color: $blue;
				border-left: 2px solid $blue;
				float: left;
				width: 80px;
				line-height: 18px;
				font-size: 16px;
				text-align: center;
				span{
					padding: 10px;
					font-size: 30px;
					display: block;
				}
			}
			.image{
				margin: 0 33px;
				width: 630px;
				height: 250px;
				overflow: hidden;
				text-align: center;
				@include box-shadow(0 0 10px rgba(0,0,0,.2));
				img{
					height: 100%;
					width: 100%;
					@include filter(contrast(100%));
					@include transition(all 0.3s ease-in-out);
					&:hover{
						@include filter(contrast(110%));
					}
				}
			}
			.desc{
				margin: 35px 33px 20px;
				color: #5e5b5a;
				line-height: 1.5em;
				font-family: Roboto, "Helvetica Neue",Helvetica,Arial,sans-serif;
			}

			.info{
				position: relative;
				margin: 0 33px;
				padding-bottom: 10px;
				height: 20px;
				color: #5d5d5d;					
				&:after{
					content: " ";   
					display: block;   				  
					background: image-url("sprite.png") 0px -190px no-repeat;
					display: block;  
					height: 4px;
					position: absolute;
					left: 170px;
					bottom: 0;
					width: 270px; 
				}
				span{
					display: block;
					float: left;
					color: #979292;
					font-family: "gothic";
					font-size: 14px;
					margin-right: 35px;
				}
				.black-button{
					margin-top: -5px;
				}
			}
			.comments:before,
			.views:before,
			.tag:before{
				content: " ";   
				display: block;   				  
				background: image-url("sprite.png") -417px -143px no-repeat;
				display: block;  
				height: 19px;
				margin-right: 8px;
				float: left;
				width: 22px; 
			}
			.views:before{  				  
				background-position: -443px -141px;
			}
			.tag:before{
				background-position:  -242px -9px;  
			}
		}
	}

.black-button{
	cursor: pointer;	
	width: 121px;
	height: 30px;
	float: right;
	text-align: center;
	color: #fff;
	padding-top: 7px;
	text-decoration: none;
	background: image-url("sprite.png") -496px -8px; 
	@include border-radius(5px);
	@include box-shadow(0 3px 0px #000);
	@include box-sizing(border-box);
	&:hover{
		position: relative;	
		@include box-shadow(none);
		top: 3px;
	}
	&:before{

	}
}
button[type="submit"],
.button.green{
	cursor: pointer;
	position: relative;
	display: block;
	border: 0;
	font-size: 18px;
	font-family: "gothic";
	color: #fff;
	background: $green;
	padding: 10px 55px;
	@include border-radius(3px);
	@include box-shadow(0 3px 0px #667e3a);
	&:hover{
		top: 3px;
		@include box-shadow(none);
	}
	&:focus{
		outline: 0;
	}
}
.pagination{
	text-align: center;
	li{
		padding: 5px;
		display: inline;
	}
}
.lastposts{
	@include legacy-pie-clearfix;
	position: relative;
	margin-top: 50px;
	article{
		margin-top: 40px;
		float: left;
		width: 375px;
		height: 500px;
		.text{
			color: #5e5b5a;
			font-family: "gothic";
			font-size: 14px;
			line-height: 24px;
		}
		.title{
			display: table;
			margin: 20px 0 25px;
			height: 58px;
			padding-left: 10px;
			border-left: 2px solid $blue;
			a{
				display: table-cell;
				vertical-align: middle;
				color: #5e5b5a;
				font-family: "gothic";
				font-size: 24px;
				line-height: 36px;
			}
		}
		img{
			@include box-shadow(0 1px 9px rgba(0,0,0,.5));
		}
		.info{
			margin-top: 35px;
			& > a{
				float: right;
				position: relative;
				margin-top: -5px;	
			}
			.date{
				float: left;
				color: #979292;
				font-family: "gothic";
				font-size: 14px;
				&:before{
				    content: " ";  
				    position: relative; 
				    float: left;     				  
				    background: image-url("sprite.png") -216px -9px;  
				    display: block;  
				    height: 18px;  
				    width: 18px; 
				    margin-right: 5px;
				}
			}
			.tag{
				margin-left: 20px;
				@extend .date;
				&:before{
					background-position: -244px -8px;
				}
			}
		}
	}
	article:nth-child(even){
		float: right;
	}
}
.stamp{
	position: relative;
	top: 40px;
	margin: 0 auto;
	width: 160px;
	height: 130px;
	z-index: 2;
	background: image-url("sprite.png") -322px 0;
}
.pagination{
	padding-top: 40px;
	font-family: "gothic";
	a,
	.current span{
		position: relative;
		padding: 6px 12px;
		@include border-radius(5px);
		@include box-shadow(0 3px 0px #000);
		background: #333;
		color: #fff;
		font-size: 14px;
		&:hover{
			position: relative;	
			@include box-shadow(none);
			top: 3px;
		}
	}

	.active a,
	.current span{
		@include box-shadow(0 1px 0px #85261a);
		top: 2px;
		position: relative;
		background: $red;
		&:hover{
			@include box-shadow(0 1px 0px #85261a);
			top: 2px;
		}
	}
}
/* Sidebar
-----------------------------------------------------------------------------*/
.sidebar{
	position: absolute;
	width: 285px;
	right: 0;
	.block-name{
		font-size: 30px;
		padding: 30px 0 30px 40px;
		color: #484848;
		font-family: "gothic";
	}
	.categories{
		list-style: none;

		li{
			height: 37px;
			position: relative;
			@include box-sizing(border-box);
			padding: 9px 0 0 40px;
			display: block;
			a{
				color: #484848;
				font-family: "gothic";
				font-size: 16px;
				text-decoration: none;
				@include transition(left 100ms ease-out);  
				left: 0px;
				&:before{
					position: relative;
					content: " ";
					left: inherit;
					float: left;
					margin: 7px 22px 0 0;  				  
					background: image-url("sprite.png") -221px -57px;  
					display: block;  
					height: 9px;  
					width: 9px; 

				}
				&:hover{
					color: $red;
					left: 10px;
					&:before{
						background-position: -237px -57px; 
					}
				}
			}
			span{
					color: #7A7A7A;
					font-size: 12px;	
			}
			&:before{
				content: " ";  
				position: absolute;
				top: 0; 
				left: 0;    				  
				background: image-url("sprite.png") 0px -190px;  
				display: block;  
				height: 4px;  
				width: 100%; 
			}
		}
		.active a{
			padding-left: 15px;
			color: $red;

			&:hover{
				left: inherit;
				&:before{
					background-position: -221px -57px;
				}
			}
			&:before{
				left: 15px;
			}
		}
		li:last-child{
			&:after{
				content: " ";  
				position: absolute; 
				bottom: -4px; 
				left: 0;   				  
				background: image-url("sprite.png") 0px -190px;  
				display: block;  
				height: 4px;  
				width: 100%; 
			}
		}
	}
	.popular{
		padding-right: 25px;
		.item{
			height: 85px;
			vertical-align: middle;
			display: table;
		}
		img{
			display: block;
			float: left;
			padding: 4px;
			background: #fff;
			@include box-shadow(0 0 5px 1px rgba(0,0,0,0.1));
		}
		.title{
			display: table-cell;
			padding-left: 10px;
			color: #4c4c4c;
			line-height: 24px;
			width: 175px;
			vertical-align: middle;
			text-decoration: none;
			font-family: "gothic";
			font-size: 14px;
		}
		.views{
			text-align: right;
			position: relative;
			color: #979292;
			font-family: "gothic";
			font-size: 12px;
		}
		.views:before{ 
			content: " ";   
			position: absolute;
			display: block;   				  
			background: image-url("sprite.png") -443px -141px no-repeat;
			height: 19px;
			width: 22px; 
			left: 140px;
		}
	}
}
/* Pages
-----------------------------------------------------------------------------*/
.document{
	position: relative;
	z-index: 2;
	margin: 0 125px;
	padding: 40px 0 60px;
	font-family: "gothic";
	font-size: 14px;
	line-height: 22px;
	color: #666;
	p{
		text-align: justify;
		padding: 25px 0 20px; 
	}
	.about{
		font-family: "gothic";
		text-align: center;
	}
	.education{
		font-size: 20px;
		padding-bottom: 30px;
		line-height: 22px;
		text-align: center;
		.icon{
			margin: 10px auto 30px;
			width: 176px;
			height: 106px;
			background: image-url("about.png");
		}
	}
	.technologies{
		padding: 40px 0 80px;
		text-align: center;
		line-height: 80px;
		span{
			font-size: 80px;
			@include transition(all 0.3s ease);
		}

	}
	.path{
		margin: 70px auto 0; 
		width: 20px;
		height: 150px;
		background: image-url("about.png") 0 -106px;
	}
	.line1, .line2, .line3{
		font-size: 20px;
		position: absolute;
	}
	.line1{
		right: 5px;
		top: -65px;
		&:before{
			position: relative;
			top: 117px;
			left: -86px;
			display: block;
			content: '';
			width: 86px;
			height: 115px;
			background: image-url("about.png") -72px -223px;
		}
	}
	.line2{
		left: 105px;
		bottom: -28px;
		&:before{
			position: relative;
			top: 17px;
			left: 51px;
			display: block;
			content: '';
			width: 150px;
			height: 35px;
			background: image-url("about.png") -14px -188px;
		}
	}
	.line3{
		top: -68px;
		left: -6px;
		&:before{
			position: relative;
			top: 88px;
			left: 97px;
			display: block;
			content: '';
			width: 114px;
			height: 80px;
			background: image-url("about.png") -14px -106px;
		}
	}
	section{
		position: relative;
	}
	ol{
		padding: 5px 35px 45px 55px;
		list-style: none;
		counter-reset: my-counter;	
		li{
			position: relative;
			text-align: justify;
			padding-top: 25px;
		}
		li:before {
			font-size: 18px;
			line-height: 35px;
			text-align: center;
			color: #fff;
			display: block;
			position: absolute;
			left: -55px;
			top: 30px;
			height: 35px;
			width: 35px;
			@include border-radius(50%);
			background: #666;
			content: counter(my-counter);
			counter-increment: my-counter;
		}
	}
	.achievements{
		padding: 10px 0;
		list-style: none;
		font-size: 20px;
		span{
			font-size: 30px;
		}
		li{
			margin-top: 20px;
		}
		li:before{
			width: 40px;
			height: 40px;
			float: left;
			content: "";
			margin: -5px 30px 0 35px;
			display: block;
			background: image-url("sprite.png") 0 0;
		}
		li:nth-child(1):before{
			background-position: -636px -4px;
		}
		li:nth-child(2):before{
			background-position: -686px -4px;
		}
		li:nth-child(3):before{
			background-position: -730px -4px;
		}
		li:nth-child(4):before{
			margin: -5px 20px 0 40px;
			background-position: -781px -1px;
		}
		li:nth-child(5):before{
			margin: -5px 5px 0 0;
			width: 95px;
			height: 32px;
			background-position: -734px -52px;
		}
	}

	.separator{
		margin-top: 10px;
		display: block;
		height: 6px;
		width: 100%;
		background: image-url("sprite.png") 0 -204px;
	}
	.contact-form{
		&:after{
			top: 50px;
			display:block;
			position: absolute;
			content: "";
			right: 0;
			background: image-url("stripe.png");
			width: 8px;
			height: 550px;
		}
		position: relative;
		width: 460px;
		padding: 40px 40px 20px 0;
		input[type='text'],
		textarea{
			margin-top: 3px;
			border: 0;
			font-size: 14px;
			@include box-sizing(border-box);
			width: 100%;
			background-color: #fff;
			padding: 10px;
			display: block;
			&:focus{
				outline: 0;
				@include box-shadow(0 0px 5px 1px rgba(140,170,81,0.6));
			}
		}
		.help-block{
			position: absolute;
			bottom: -20px;
			font-size: 12px;
			color: $red;
			font-family: 'Verdana';
		}
		.form-group{
			position: relative;
			margin-bottom: 25px;
			&:last-child{
				@include legacy-pie-clearfix;
			}
		}
		button{
			float: right;
		}
	}
	.information{
		padding-top: 30px;
		float: right;
		width: 200px;
		.name{
			font-size: 12px;
			text-transform: uppercase;
			text-decoration: underline;
			color: $red;
			margin-top: 20px;
		}
		span{
			display: block;
			font-size: 14px;
			padding: 3px 0 3px 30px;
		}
		a{
			color: #666;
		}
	}
}

.portfolio{
	margin: 0 100px;
}
.portfolio-grid{
	padding: 20px 0;
	div{
		position: relative;
		padding: 10px 0 0;
		width: 242px;
		text-align: center;
		color: #999;
		img{
			position: relative;
			width: 100%;
			@include box-sizing(border-box);
			border: 6px solid #fff;
			margin-bottom: 20px;
			@include box-shadow(0 0 5px 1px rgba(0,0,0,0.1));
		}
	}
	div:nth-child(3n+1){
		float: left;
		&:before{
			position: absolute;
			display: block;
			content: "";
			top: -30px;
			left: -55px;
			width: 65px;
			height: 160px;
			background: image-url("sprite.png") -836px 0px;
		}
	}
	div:nth-child(3n+2){
		float: right;
		&:before{
			position: absolute;
			display: block;
			content: "";
			top: -30px;
			right: -55px;
			width: 65px;
			height: 160px;
			background: image-url("sprite.png") -907px 0px;
		}
	}
	div:nth-child(3n+3){
		margin: 20px auto 0;
	}
}

.project{
	position: relative;
	margin: 0 110px;
	.monitor{
		width: 483px;
		height: 399px;
		background: image-url("monitor.jpg");
		margin-right: 30px;
		img{
			margin: 20px 19px;
			width: 444px;
			height: 254px;
		}
	}
	.screenshot{
		margin: 55px 0 40px;
		width: 100%;
		img{
			display: block;
			position: relative;
			margin: 0 auto;
			width: 435px;
			border: 4px solid #fff;
			@include box-shadow(0 0 5px 1px rgba(0,0,0,0.1));
		}		
	}
	.left-side{
		float: left;
		position: relative;
		width: 483px;
		padding-bottom: 50px;
		&:after{
			content: "";
			position: absolute;
			display: block;
			bottom: 30px;
			left: 50px;
			background: image-url("sprite.png") 0 -190px;
			width: 270px;
			height: 4px;
			margin-left: 50px;
		}
	}
	h2{
		font-size: 30px;
		font-family: "gothic";
		font-weight: normal;
		padding-bottom: 30px;
	}
	.overview{
		text-align: justify;
		line-height: 20px;
		margin-left: 517px;
		span{
			display: block;
			padding-bottom: 50px;
		}
	}
	ul{
		list-style: none;
		margin-left: 25px;
	}
	li{
		line-height: 25px;
		&:before{
			content: " ";  
			float: left;
			margin: 10px 14px 0 0;  				  
			background: image-url("sprite.png") -221px -57px;  
			display: block;  
			height: 9px;  
			width: 9px; 
		}
	}
	.button{
		@include box-sizing(border-box);
		display: block;
		text-align: center;
		width: 170px;
		padding: 10px 0;
		margin: 60px auto;
	}
	.title{
		font-size: 18px;
		line-height: 32px;
		padding-bottom: 30px;
		&:before{
			display: block;
			content: "";
			width: 32px;
			margin-right: 10px;
			height: 32px;
			float: left;
			background: image-url("sprite.png") -776px -90px;
		}
		&:after{
			display: block;
			content: "";
			position: relative;
			top: -19px;
			height: 8px;
			width: 420px;
			margin-left: 270px;
			background: image-url("sprite.png") 0 -204px;
		}
	}
	.next{
		float: right;
		padding-right: 50px;
	}
	.prev{
		padding-left: 50px;
	}
	&:after{
		position: absolute;
		top: -17px;
		right: 5px;
		content: '';
		display: block;
		width: 45px;
		height: 120px;
		background: image-url("sprite.png") -964px -8px;
	}
}

#disqus_thread{
	min-height: 544px;
	padding: 0 35px;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	@include box-sizing(border-box);
	background: image-url("footer-bg.png") repeat-x;
	padding-top: 160px;
	height: 260px;
	.copyrights{
		padding-top: 15px;	
		width: 290px;	
		float: left;	
		color: #e0ddd5;
		font-family: "gothic";
		font-size: 12px;
		line-height: 18px;	
		a{
			font-size: 12px;	
			text-transform: uppercase;	
			color: #89aee5;	
			font-family: "gothic";
		}
		div{
			float: left;	
			font-size: 60px;
			width: 60px;	
			height: 60px;
			line-height: 60px;	
			font-family: Arial;		
		}
	}
	.seo-text{
		width: 380px;	
		margin: 0 auto;	
		color: #707070;
		font-family: Verdana;
		font-size: 10px;
		text-align: center;	
		.debug{
			color: #9d9d9d;
			font-family: Verdana;
			font-size: 10px;
		}
	}
	.phones{
		padding-top: 10px;
		padding-right: 20px;
		float: right;
		color: #b2afaf;
		font-family: "gothic";
		font-size: 14px;
		line-height: 22px;
		& > div:before{
			content: " ";  
			position: relative; 
			float: left;     				  
			background: image-url("sprite.png") -243px -32px;  
			display: block;  
			height: 20px;  
			width: 20px;
			margin-right: 5px;  
		}
		a{
			color: #89aee5;
			font-family: "gothic";
			font-size: 12px;
			text-transform: uppercase;
			text-decoration: none;
			&:before{
				content: " ";  
				position: relative; 
				float: left;     				  
				background: image-url("sprite.png") -215px -32px;  
				display: block;  
				height: 20px;  
				width: 20px; 
				margin-right: 5px;
			}
		}
	}
}


/* Error page
-----------------------------------------------------------------------------*/
#error{
	@include perspective(900px);
	height: 100%;
	.clouds-bg{
		height: 100%;
	}
	h1{
		display: block;
		position: absolute;
		font-size: 222px;
		width: 369px;
		height: 225px;
		font-family: 'gothic';
		color: #fff;
		text-shadow: none;
		left: 38%;
		top: 50%;
		padding: 0;
		margin: 0;
		line-height: 0;
		letter-spacing: 0;
		font-weight: normal;
		&:before{
			content: '';
			display: block;
			position: absolute;
			width: 55px;
			top: -50px;
			left: -50px;
			height: 120px;
			background: image-url("error-page.png") 0px -90px;
		}
		&:after{
			content: '';
			display: block;
			position: absolute;
			right: -50px;
			top: -50px;
			width: 55px;
			height: 120px;
			background: image-url("error-page.png") -75px -90px;
		}
	}
	.error-text{
		position: absolute;
		font-size: 48px;
		bottom: 63%;
		right: 60%;
		font-family: 'gothic';
		color: rgba(255,255,255,0.65);
	}
	.error-text2{
		position: absolute;
		font-size: 36px;
		bottom: 32%;
		left: 47%;
		font-family: 'gothic';
		color: rgba(255,255,255,0.65);
	}
	.plane{
		top: 100px;
		right: -20%;
		position: absolute;
		width: 505px;
		height: 85px;
		background: image-url("error-page.png");
	}
	.wrapper{
		height: 100%;
	}
}