@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "ceaser-easing";
@import 'variables';



* {
	margin: 0;
	padding: 0;
}
p{
	padding: 5px 0;
}
::selection {
	background: rgba(254,142,87,0.7);
}
::-moz-selection {
	background: rgba(254,142,87,0.7);
}

html {
	height: 100%;
}
a{
	color: $red;
	cursor: pointer;
	text-decoration: none;
}
img{
	vertical-align: middle;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
p{
  line-height: 1.5em;
  margin-bottom: 1em;
  clear: both;
  font-family: Roboto, "Helvetica Neue",Helvetica,Arial,sans-serif;
}
h1,h2,h3,h4,h5,h6{
	@include text-shadow(0 2px 2px rgba(255,255,255,1));
}
h1{
  font-size: 24px;
  margin: 1em 0em;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  line-height: 1.1;
}
h2 {
	font-size:22px;
	margin:.5em 0em;
	text-transform:uppercase;
	letter-spacing:0.03em;
}
h3{
	letter-spacing:0.015em;
	margin:.5em 0em;
	font-size: 20px;
}
h4{
	margin:.5em 0em;
	font-size: 18px;
}
h5{
	margin:.5em 0em;
	font-size: 15px;
}
h6{
	margin:.5em 0em;
	font-size: 12px;
}
article{
  font-size: 14px;
  line-height: 20px;
  word-spacing: 0.2em;
  font-family: "gothic";

	dl, ul, ol{
	padding: 20px 35px;		
	}
	li{
		margin-bottom: 10px; 
	}
	pre code{
		font-size: 12px;	
	}
	table{
		margin: 30px 0;
		width: 100%;
		border-collapse: collapse;
	}	
	table > tbody > tr > td{
		padding: 8px;
		line-height: 1.42857143;
		vertical-align: top;
		border-top: 1px solid #ddd;
	}
	table > thead > tr > th{
		padding: 10px;
		vertical-align: bottom;
    	border-bottom: 2px solid #ddd;
	}
	img{
		max-width: 100%;
	}
}
blockquote{
	position: relative;
	font-size: 15px;
	padding: 20px 20px 20px 40px;
	color: #6C6C6C;
	p{
		position: relative;
		border-bottom: 1px dotted #9B9A9A;
		padding-bottom: 10px;
	}
	&:before{
		display: block;
		content: "\201C";
		font-size: 145px;
		position: absolute;
		left: 0px;
		top: 60px;
		color: #DDD9D2;
	}
	cite{
		padding-top: 10px;
		font-size: 12px;
		color: #8C8982;
		float: right;
	}
}
kbd {
	margin: 0px 0.1em;
	padding: 0.2em 0.6em;
	border-radius: 3px;
	border: 1px solid rgb(204, 204, 204);
	color: rgb(51, 51, 51);
	line-height: 1.4;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10px;
	display: inline-block;
	@include box-shadow(0px 1px 0px rgba(0,0,0,0.2), inset 0px 0px 0px 2px #ffffff);
	background-color: rgb(247, 247, 247);
	@include border-radius(4px);
	text-shadow: 0 1px 0 #fff;
}
mark{
	padding: .2em;
    background-color: #fcf8e3;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #777;
}
hr{
	display: block;
	clear: both;
	height: 4px;
	border: 0;
	background: image-url("sprite.png") 0 -205px;
}

@font-face {
	font-family: 'devicons';
	src:url('../fonts/devicons.eot?-my84a0');
	src:url('../fonts/devicons.eot?#iefix-my84a0') format('embedded-opentype'),
		url('../fonts/devicons.woff?-my84a0') format('woff'),
		url('../fonts/devicons.ttf?-my84a0') format('truetype'),
		url('../fonts/devicons.svg?-my84a0#devicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="devicons-"], [class*=" devicons-"] {
	font-family: 'devicons';
	speak: none;
	font-size: 64px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.devicons-git:before {
	content: "\e602";
}

.devicons-php:before {
	content: "\e63d";
}

.devicons-mysql:before {
	content: "\e604";
}

.devicons-javascript:before {
	content: "\e64e";
}

.devicons-jquery:before {
	content: "\e650";
}

.devicons-sass:before {
	content: "\e64b";
}

.devicons-css3_full:before {
	content: "\e64a";
}

.devicons-html5:before {
	content: "\e636";
}

.devicons-bower:before {
	content: "\e64d";
}

.devicons-linux:before {
	content: "\e612";
}

.devicons-dropbox:before {
	content: "\e607";
}

.devicons-chrome:before {
	content: "\e643";
}

.devicons-compass:before {
	content: "\e661";
}

.devicons-w3c:before {
	content: "\e66c";
}

.devicons-nginx:before {
	content: "\e676";
}

.devicons-yii:before {
	content: "\e682";
}

.devicons-composer:before {
	content: "\e683";
}
.devicons-mongodb:before {
	content: "\e6a4";
}
