@font-face {
  font-family: 'gothic';
  src: url("../fonts/gothic.eot");
  src: local("gothic"), url("../fonts/gothic.woff") format("woff"), url("../fonts/gothic.ttf") format("truetype");
}
@font-face {
  font-family: 'IstokWeb-Italic';
  src: url("../fonts/IstokWeb-Italic.eot");
  src: url("../fonts/IstokWeb-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/IstokWeb-Italic.woff") format("woff"), url("../fonts/IstokWeb-Italic.ttf") format("truetype"), url("../fonts/IstokWeb-Italic.svg#IstokWeb-Italic") format("svg");
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-cyrilic.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
* {
  margin: 0;
  padding: 0;
}

p {
  padding: 5px 0;
}

html {
  height: 100%;
}

a {
  color: #cc2814;
  cursor: pointer;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

p {
  line-height: 1.5em;
  margin-bottom: 1em;
  clear: both;
  font-family: Roboto, "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  text-shadow: 0 2px 2px white;
}

h1 {
  font-size: 24px;
  margin: 1em 0em;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  line-height: 1.1;
}

h2 {
  font-size: 22px;
  margin: .5em 0em;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

h3 {
  letter-spacing: 0.015em;
  margin: .5em 0em;
  font-size: 20px;
}

h4 {
  margin: .5em 0em;
  font-size: 18px;
}

h5 {
  margin: .5em 0em;
  font-size: 15px;
}

h6 {
  margin: .5em 0em;
  font-size: 12px;
}

article {
  font-size: 14px;
  line-height: 20px;
  word-spacing: 0.2em;
  font-family: "gothic";
}
article dl, article ul, article ol {
  padding: 20px 35px;
}
article li {
  margin-bottom: 10px;
}
article pre code {
  font-size: 12px;
}
article table {
  margin: 30px 0;
  width: 100%;
  border-collapse: collapse;
}
article table > tbody > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
article table > thead > tr > th {
  padding: 10px;
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
article img {
  max-width: 100%;
}

blockquote {
  position: relative;
  font-size: 15px;
  padding: 20px 20px 20px 40px;
  color: #6C6C6C;
}
blockquote p {
  position: relative;
  border-bottom: 1px dotted #9B9A9A;
  padding-bottom: 10px;
}
blockquote:before {
  display: block;
  content: "\201C";
  font-size: 145px;
  position: absolute;
  left: 0px;
  top: 60px;
  color: #DDD9D2;
}
blockquote cite {
  padding-top: 10px;
  font-size: 12px;
  color: #8C8982;
  float: right;
}

kbd {
  margin: 0px 0.1em;
  padding: 0.2em 0.6em;
  border-radius: 3px;
  border: 1px solid #cccccc;
  color: #333333;
  line-height: 1.4;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 10px;
  display: inline-block;
  -moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2), inset 0px 0px 0px 2px #ffffff;
  -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2), inset 0px 0px 0px 2px #ffffff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2), inset 0px 0px 0px 2px #ffffff;
  background-color: #f7f7f7;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-shadow: 0 1px 0 #fff;
}

mark {
  padding: .2em;
  background-color: #fcf8e3;
}

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #777;
}

hr {
  display: block;
  clear: both;
  height: 4px;
  border: 0;
  background: url('../images/sprite.png?1446146377') 0 -205px;
}

* {
  margin: 0;
  padding: 0;
}

p {
  padding: 5px 0;
}

::selection {
  background: rgba(254, 142, 87, 0.7);
}

::-moz-selection {
  background: rgba(254, 142, 87, 0.7);
}

a {
  color: #cc2814;
  cursor: pointer;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

body {
  font: 12px/18px 'Verdana', sans-serif;
  width: 100%;
  height: 100%;
  background: url('../images/bg.jpg');
}

.wrapper {
  position: relative;
  width: 980px;
  margin: 0 auto;
}

main {
  position: relative;
}

/* Header
-----------------------------------------------------------------------------*/
.header .clouds-bg {
  position: relative;
  overflow: hidden;
  height: 405px;
  background: #2c4877;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjNDg3NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2OWFlYmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #2c4877 0%, #69aebf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2c4877), color-stop(100%, #69aebf));
  background: -webkit-linear-gradient(top, #2c4877 0%, #69aebf 100%);
  background: -o-linear-gradient(top, #2c4877 0%, #69aebf 100%);
  background: -ms-linear-gradient(top, #2c4877 0%, #69aebf 100%);
  background: linear-gradient(to bottom, #152645 0%, #69aebf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c4877', endColorstr='#69aebf',GradientType=0 );
}

.header .clouds-bg .slogan, .header.large .clouds-bg .second-slogan {
  display: block;
  padding-top: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-family: 'IstokWeb-Italic',sans-serif;
  font-size: 40px;
  font-weight: 400;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.header .clouds-bg .line {
  margin: 0 auto;
  width: 400px;
  height: 11px;
  background: url('../images/seam-line.png');
}
.header .clouds-bg .line:last-child {
  right: 0;
}
.header .clouds-bg .buttons {
  z-index: 2;
  position: relative;
  margin: 30px auto;
  text-align: center;
}
.header .clouds-bg .buttons .perspective {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-perspective: 800px;
  -webkit-perspective: 800px;
  perspective: 800px;
  position: relative;
  margin: 0;
  padding: 1em;
  display: inline-block;
}
.header .clouds-bg .buttons a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  cursor: pointer;
  margin: 0 2px;
  position: relative;
  float: left;
  font-size: 16px;
  display: block;
  letter-spacing: 0.5px;
  font-family: "gothic";
  -webkit-font-smoothing: antialiased;
  color: #fff;
  width: 120px;
  padding: 15px 0px;
  background: #cc2814;
  border-bottom: 1px solid #ea3e29;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-transform: rotateX(19deg);
  -ms-transform: rotateX(19deg);
  -webkit-transform: rotateX(19deg);
  transform: rotateX(19deg);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header .clouds-bg .buttons a:last-child {
  background: #8FAF1A;
  border-bottom: 1px solid #a1c51d;
}
.header .clouds-bg .buttons a:last-child:after {
  background: #48580d;
}
.header .clouds-bg .buttons a:last-child:active {
  background: #9abc1c;
}
.header .clouds-bg .buttons a:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 40%;
  left: 0;
  top: 100%;
  background: #66140a;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.header .clouds-bg .buttons a:hover {
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.header .clouds-bg .buttons a:active {
  background: #da2b15;
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}
.header .clouds-bg .clouds {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 305px;
  background: url('../images/clouds.png?1446146377') 50% 0 repeat-x;
}
.header .clouds-bg .clouds2 {
  width: 110%;
  left: -5%;
  height: 305px;
  background: url('../images/clouds2.png?1446146377') 50% 0 repeat-x;
  bottom: 0;
  position: absolute;
}

.header.large {
  height: 100%;
}
.header.large .clouds-bg {
  height: 100%;
  -moz-perspective: 1px;
  -webkit-perspective: 1px;
  perspective: 1px;
  overflow: hidden;
}
.header.large .clouds-bg .slogan, .header.large .clouds-bg .second-slogan {
  line-height: 70px;
  padding-top: 220px;
  text-align: center;
  color: #fff;
  font-family: "gothic";
  font-size: 40px;
  font-weight: 400;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.header.large .clouds-bg .second-slogan {
  padding: 5px 0 10px;
  line-height: 22px;
  font-style: normal;
  font-family: 'gothic',sans-serif;
  font-size: 18px;
  letter-spacing: 1.2pt;
}
.header.large .clouds-bg .line {
  position: relative;
  top: 0;
  width: 420px;
  height: 11px;
  background: url('../images/seam-line.png?1446146377');
}

.header-top {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  z-index: 10;
}

.header-top .wrapper {
  position: relative;
  height: 100%;
}
.header-top .logo {
  text-transform: uppercase;
  line-height: 60px;
  padding-top: 220px;
  text-align: center;
  color: #fff;
  font-family: "gothic";
  font-size: 20px;
  font-weight: 400;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.header-top .line {
  position: relative;
  width: 215px;
  height: 10px;
  background: url('../images/seam-line.png');
}



/* Middle
-----------------------------------------------------------------------------*/
.content {
  position: relative;
  padding: 0 70px 75px;
  width: 980px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: -55px auto -140px;
  background: url('../images/content-bg-solid.png?1446146377');
  -moz-box-shadow: 0 5px 18px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 18px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.2);
}
.content .content-top, .content .content-bottom {
  position: absolute;
  left: 0;
  top: -7px;
  width: 100%;
  height: 85px;
  background: url('../images/content-parts.png?1446146377') 0 0;
}
.content .content-bottom {
  background-position: 0 -85px;
  top: auto;
  z-index: 1;
  bottom: -7px;
}
.content .line {
  width: 100%;
  position: absolute;
  top: 28px;
  height: 5px;
  background: url('../images/sprite.png?1446146377') 0 -172px;
}

.page {
  padding: 0;
  min-height: 100%;
  margin: -335px auto -150px;
}


.heading-blue, .heading-red {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 11px;
  text-align: center;
  color: #fff;
  font-family: "gothic";
  font-size: 16px;
  margin: 0 auto;
  width: 310px;
  height: 52px;
  background: url('../images/sprite.png?1446146377') 0 -66px;
}

.heading-red {
  background-position: 0 -119px;
}

.articles {
  position: relative;
}

.articles article {
  margin-bottom: 30px;
}
.articles article .heading {
  display: table;
  padding: 10px 0 20px;
  height: 60px;
  color: #474747;
  font-family: "gothic";
  font-size: 24px;
  line-height: 26px;
}
.articles article .heading a {
  color: #5e5b5a;
  display: table-cell;
  text-decoration: none;
  vertical-align: middle;
  text-shadow: 0 2px 2px #f7f7f7;
}

article .heading a:hover {
  color:#8FAF1A;
}

.articles article .date, .articles .lastposts article .info .tag, .lastposts .articles article .info .tag {
  padding: 0 15px;
  height: 100%;
  color: #8FAF1A;
  border-left: 2px solid #8FAF1A;
  float: left;
  letter-spacing: 1px;
  width: 80px;
  line-height: 18px;
  font-size: 16px;
  text-align: center;
}
.articles article .date span, .articles .lastposts article .info .tag span, .lastposts .articles article .info .tag span {
  padding: 10px;
  font-size: 30px;
  display: block;
}
.articles article .image {
  margin: 0 33px;
  width: 630px;
  height: 250px;
  overflow: hidden;
  text-align: center;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.articles article .image img {
  height: 100%;
  width: 100%;
  -webkit-filter: contrast(100%);
  filter: contrast(100%);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.articles article .image img:hover {
  -webkit-filter: contrast(110%);
  filter: contrast(110%);
}
.articles article .desc {
  margin: 0 33px 20px;
  color: #5e5b5a;
  line-height: 1.5em;
  font-family: Roboto, "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.articles article .info {
  position: relative;
  margin: 0 33px;
  padding-bottom: 10px;
  height: 20px;
  color: #5d5d5d;
  text-align: center;
}
.articles article .info::before {
  content: " ";
  margin: 0 auto;
  display: block;
  background: url('../images/sprite.png?1446146377') 0px -190px no-repeat;
  display: block;
  height: 4px;
  margin-bottom: 20px;
  width: 270px;
}
.articles article .info span {
  display: block;
  float: left;
  color: #979292;
  font-family: "gothic";
  font-size: 14px;
  margin-right: 35px;
}

.stamp {
  position: relative;
  top: -60px;
  margin: 0 auto;
  width: 160px;
  height: 130px;
  z-index: 2;
  background: url('../images/sprite.png?1446146377') -322px 0;
}


/* Pages
-----------------------------------------------------------------------------*/

#disqus_thread {
  min-height: 544px;
  padding: 0 35px;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: url('../images/footer-bg.png?1446146377') repeat-x;
  padding-top: 160px;
  height: 260px;
}

.contact {
  text-align: center;
}


.contact a {
  display: inline-block;
  overflow: hidden;
  width: 2em;
  line-height: 2em;
  margin: 0 .20em;
  color: #fff;
  font-size: 1.7em;
  transition: background-color .2s ease-in-out;
  border-radius: 50%;
  animation: icons .2s ease-out 0s 1 normal forwards;
}

.contact a:hover { color:#8FAF1A; }