html {
  height: 100%;
}

a {
  color: #cc2814;
  cursor: pointer;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

p {
  line-height: 1.5em;
  margin-bottom: 1em;
  clear: both;
}

h1 {
  font-size: 24px;
  margin: 1em 0em;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  line-height: 1.1;
}

h2 {
  font-size: 22px;
  margin: .5em 0em;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

h3 {
  letter-spacing: 0.015em;
  margin: .5em 0em;
  font-size: 20px;
}

h4 {
  margin: .5em 0em;
  font-size: 18px;
}

h5 {
  margin: .5em 0em;
  font-size: 15px;
}

h6 {
  margin: .5em 0em;
  font-size: 12px;
}

article {
  font-size: 1.208em;
  word-spacing: 0.2em;
  font-family: "gothic";
}

blockquote {
  padding: 20px;
  position: relative;
}
blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}
