@font-face {
  font-family: 'gothic';
  src: url("../fonts/gothic.eot");
  src: local("gothic"), url("../fonts/gothic.woff") format("woff"), url("../fonts/gothic.ttf") format("truetype");
}
@font-face {
  font-family: 'IstokWeb-Italic';
  src: url("../fonts/IstokWeb-Italic.eot");
  src: url("../fonts/IstokWeb-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/IstokWeb-Italic.woff") format("woff"), url("../fonts/IstokWeb-Italic.ttf") format("truetype"), url("../fonts/IstokWeb-Italic.svg#IstokWeb-Italic") format("svg");
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-cyrilic.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@-moz-keyframes slide-left {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slide-left {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-left {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes slide-top {
  0% {
    top: 100px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@-webkit-keyframes slide-top {
  0% {
    top: 100px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes slide-top {
  0% {
    top: 100px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.header ul {
  position: relative;
  overflow: hidden;
  display: inline-block;
  float: right;
}
.header ul:hover .active a {
  color: #36537e;
}
.header ul:hover .home:before {
  background-position: -272px -8px;
}
.header ul li {
  float: left;
  display: inline-block;
  padding: 25px 10px 0;
  font-family: 'gothic',sans-serif;
  transition: all 0.42s ease-in-out;
  text-decoration: none;
  font-size: 14px;
  color: #39567f;
  text-transform: uppercase;
  cursor: pointer;
}
.header ul li.top-bar {
  padding: 0;
  -moz-transition: all 0.42s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0ms;
  -o-transition: all 0.42s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0ms;
  -webkit-transition: all 0.42s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  -webkit-transition-delay: 0ms;
  transition: all 0.42s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0ms;
  position: absolute;
  height: 3px;
  top: 0;
  background-color: #cc2814;
}
.header ul li:hover a, .header ul li.active a {
  color: #cc2814;
}
.header ul li:hover.active a {
  color: #cc2814 !important;
}
.header ul li:nth-child(1).active ~ .top-bar {
  left: 0;
  width: 40px;
}
.header ul li:nth-child(1):hover ~ .top-bar, .header ul li:nth-child(1):focus ~ .top-bar {
  width: 40px !important;
  left: 0 !important;
}
.header ul li:nth-child(2).active ~ .top-bar {
  left: 45px;
  width: 48px;
}
.header ul li:nth-child(2):hover ~ .top-bar, .header ul li:nth-child(2):focus ~ .top-bar {
  width: 48px !important;
  left: 45px !important;
}
.header ul li:nth-child(3).active ~ .top-bar {
  left: 100px;
  width: 105px;
}
.header ul li:nth-child(3):hover ~ .top-bar, .header ul li:nth-child(3):focus ~ .top-bar {
  width: 105px !important;
  left: 100px !important;
}
.header ul li:nth-child(4).active ~ .top-bar {
  left: 213px;
  width: 85px;
}
.header ul li:nth-child(4):hover ~ .top-bar, .header ul li:nth-child(4):focus ~ .top-bar {
  width: 85px !important;
  left: 213px !important;
}
.header ul li:nth-child(5).active ~ .top-bar {
  left: 305px;
  width: 78px;
}
.header ul li:nth-child(5):hover ~ .top-bar, .header ul li:nth-child(5):focus ~ .top-bar {
  width: 78px !important;
  left: 305px !important;
}
.header ul a {
  font-family: 'gothic',sans-serif;
  transition: all 0.42s ease-in-out;
  text-decoration: none;
  font-size: 14px;
  color: #39567f;
  text-transform: uppercase;
}
.header ul .home:before {
  position: absolute;
  top: 24px;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url('../images/sprite.png?1446146377') -272px -8px;
}
.header ul .home a {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
}
.header ul .home {
  width: 20px;
  height: 20px;
}
.header ul .home:hover:before,
.header ul .active:before {
  background-position: -272px -31px;
}
